{% extends 'juegos/base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block header %}Editar Perfil{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Editar Perfil</h3>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'foto' %}
                    <div class="input-group">
                        <div class="custom-file">
                            {{ field }}
                            <label class="custom-file-label" for="{{ field.id_for_label }}">
                                {% if field.value %}{{ field.value }}{% else %}Elegir archivo{% endif %}
                            </label>
                        </div>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Guardar Cambios
                </button>
                <a href="{% url 'juegos:user_detail' user.username %}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('.custom-file-input').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').html(fileName);
    });
});
</script>
{% endblock %}
